{% extends "base.html" %}
{% block header %}
  {% block title %}
    <title> Home Page </title>
  {% endblock %}
  <h1> Team Hotpot </h1>
{% endblock %}
{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <h1> {{ messages[0] }} </h1>
      <h1> {{ messages[1] }} </h1>
    {% endif %}
  {% endwith %}
  <form action = "/auth", method = "POST">
    Enter your username:
    <input type = "text" name = "username"> <br><br>
    Enter your password:
    <input type = "text" name = "password"> <br><br>
    <input type = "submit" name = "sub1" value = "login"> <br>
  </form>
{% endblock %}
{% block footer %}
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {{super()}}
{% endblock %}
